@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
h1 {
  font-weight: 700;
  @apply text-3xl font-title leading-tight;
}
h2 {
  font-weight: bold;
  @apply text-xl;
}
h3 {
  font-weight: regular;
  @apply text-lg;
}
p {
  font-weight: 300;
  @apply text-base;
}
body {
  @apply bg-primary-500 text-content1-100;
}
section {
  @apply py-6;
}
.flex-center {
  @apply flex items-center justify-center;
}
.flex-between {
  @apply flex justify-between items-center;
}
.hero-left {
  @apply flex flex-col justify-center lgx:items-start;
}
.hero-title {
  @apply text-5xl font-title  phone:leading-none;
}
.phone-link:hover {
  @apply text-secondary-500;
}
